@import '../../style/mixins.scss';

.error-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid var(--danger-color);
  border-radius: 5px;
  background-color: var(--danger-light-color);

  p {
    color: var(--text-danger-color);
  }

  button {
    @include btn();
    padding: 0.1rem 0.4rem;
    background-color: var(--danger-color);
    color: var(--text-light-color);
  }
}
