@import '../../style/mixins.scss';

.home {
  border-radius: 5px;
  .btn-editor-toggle {
    @include btn();
    background: var(--light-color);
  }

  .no-snippets-msg {
    margin-top: 2rem;
    color: var(--text-light-color);
  }

  .no-user-msg {
    margin-top: 4rem;
    color: var(--text-dark-color);
    text-align: center;

    .landing-info {
      background-color: #fff;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;

      h3 {
        color: var(--text-dark-color);
      }

      .landing-desc {
        margin-top: 1rem;
        color: var(--text-dark-color);
        text-align: start;

        span {
          font-weight: bold;
          color: var(--text-danger-color);
        }
      }
    }

    h2 {
      font-size: 3rem;
    }

    a {
      @include btn();
      margin-top: 1rem;
      color: var(--text-dark-color);
      background-color: var(--light-color);
      font-weight: unset;
      display: inline-block;

      &:hover {
        text-decoration: unset;
      }
    }
  }
}
